<body class="body">
{% extends 'base2.html' %} {% load static %} {% block content %} {% load cart %}
{% load custom_filter %}
<div class="d-flex justify-content-center mt-5">
  <div class="card col-8 p-0">
    <div class="card-header text-center h3">About Page</div>
    <div class="card-body text-center">
      <h5 class="card-title">Thanks For Choosing Us</h5>
      <p class="card-text">
        Sai Kamal is an e-commerce website that specializes in providing
        high-quality industrial products to customers across the globe. Our
        product range includes a wide variety of safety gear, such as helmets,
        gloves, boots, pliers, and more.
        <br />
      </p>
      <p>
        Our goal at Sai Kamal is to ensure that our customers have access to the
        very best safety products available, so they can protect themselves
        while working in hazardous environments. We believe that safety should
        always come first, and that is why we only stock products that meet or
        exceed industry safety standards.
        <br />
      </p>
      <p>
        Our range of products has been carefully curated to include only the
        most trusted and reliable brands in the industry, so our customers can
        rest assured that they are getting products that are built to last.
        Whether you are looking for safety helmets, gloves, boots, or any other
        type of safety gear, you can trust Sai Kamal to provide you with the
        highest-quality products at competitive prices.
        <br />
      </p>
      <p>
        At Sai Kamal, we are committed to providing exceptional customer
        service, so our customers can have a hassle-free shopping experience.
        Our website is easy to navigate, and our ordering process is simple and
        secure. We offer fast and reliable shipping, so you can get your safety
        gear delivered right to your doorstep.
        <br />
      </p>
    </div>
    <div class="card-footer text-center">
      Thank you for choosing Sai Kamal as your go-to destination for all your
      safety gear needs. We look forward to serving you!
    </div>
  </div>
</div>


{% endblock %}
</body>
