<body class="body">
{% extends 'base2.html' %}
{% load static %}

{% block content %}

{% load cart %}
{% load custom_filter %}

    <div class="d-flex justify-content-center mt-5">
        <div class="card col-4 p-0">
            <div class="card-header text-center h3">
            Account Detailes
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" disabled placeholder=" email" value="{{email}}">
                </div>
                <div class="form-group">
                    <label for="firstname">First Name </label>
                    <input type="text" class="form-control" id="firstname" disabled  placeholder="first name" value="{{firstname}}">
                </div>
                <div class="form-group">
                    <label for="lastname">last Name </label>
                    <input type="text" class="form-control" id="lastname" disabled  placeholder="last name" value="{{lastname}}">
                </div>
                <div class="form-group">
                    <label for="phonenumber">last Name </label>
                    <input type="text" class="form-control" id="phonenumber" disabled  placeholder="last name" value="{{phonenumber}}">
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="/logout">
                    <button class="btn btn-success">LogOut</button>
                </a>
            </div>
        </div>
    </div>



{% endblock %}
</body>